.header {
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    overflow-x: hidden;
}

.header_cont {
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
}

.header_input {
    min-width: 100px;
    margin-left: 20px;
    width: 40%;
    position: relative;
    border: 1px solid lightgray;
}

.header_input > input {
    width: 100%;
    border: none;
}

.header_search {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color: gray;
}

.header_icons {
    margin-right: 8px;
}
.header_icons_logout {
    color : red;
}
.header_AppIcons {
    width: 20px;
    margin-right: 10px;
}
.header_appLink {
    color: black;
}
.header_appLink:hover {
    color: black;
}